h1,
h3 {
    text-align: center;
    color: rgb(129, 28, 28);
}

td {
    width: 128px;
    height: 128px;
}

table {
    margin: 5px auto;
}

.vertical {
    border-left: 2px solid gray;
    border-right: 2px solid gray;
}

.horizontal {
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}

button {
    width: 128px;
    height: 128px;
    background-color: rgb(220, 220, 180);
    border: none;
    font-size: 128px;
}

button:hover {
    background-color: rgb(194, 194, 169);
}