/* Global */
* {
    box-sizing: border-box;
}

:root {
    --white: #ffffff;
    --black: #000000;
    --dark: #2c2c2c;
}

/* Theme */
.light-theme {
    --bg: var(--white);
    --fontColor: var(--black);
    --btnBg: var(--dark);
    --btnFontColor: var(--white);
}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--white);
    --btnBg: var(--white);
    --btnFontColor: var(--dark);
}