/* Estilos para o slideshow */

.slideshow-container {
    text-align: center;
    position: relative;
    margin: auto;
}

.slide {
    display: none;
}

.slide img {
    width: 20%;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #474747;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}