<!-- Content -->
<div class="content">
    <!-- Line 1 - Slide Show -->
    <div class="row">
        <div>
            <div class="slideshow-container">
                <div class="slide">
                    <img src="../images/products/svg/shoes1.svg" alt="Produto 1" title="Produto 1" />
                </div>
                <div class="slide">
                    <img src="../images/products/svg/shoes2.svg" alt="Produto 2" title="Produto 2" />
                </div>
                <div class="slide">
                    <img src="../images/products/svg/shoes3.svg" alt="Produto 3" title="Produto 3" />
                </div>
                <div class="slide">
                    <img src="../images/products/svg/shoes4.svg" alt="Produto 4" title="Produto 4" />
                </div>
                <button class="prev" onclick="mover(-1)">&#10094;</button> <!-- &#10094; : Símbolo < -->
                <button class="next" onclick="mover(1)">&#10095;</button> <!-- &#10095; : Símbolo > -->
            </div>
        </div>
    </div>
    <!-- Line 2 - Products -->
    <div class="row">
        <h2>Most popular</h2>
        <!-- Coluna -->
        <div class="column">
            <!-- Cartão -->
            <div class="card">
                <p class="title">Title 1</p>
                <div class="fakeimage" style="font-size: small;">Image</div>
                <p class="description">Description about the subject 1.</p>
                <a href="#" class="readmore">Action &gt;&gt;</a>
            </div>
        </div>
        <!-- Coluna -->
        <div class="column">
            <!-- Cartão -->
            <div class="card">
                <p class="title">Title 2</p>
                <div class="fakeimage" style="font-size: small;">Image</div>
                <p class="description">Description about the subject 2.</p>
                <a href="#" class="readmore">Action &gt;&gt;</a>
            </div>
        </div>
        <!-- Coluna -->
        <div class="column">
            <!-- Cartão -->
            <div class="card">
                <p class="title">Title 3</p>
                <div class="fakeimage" style="font-size: small;">Image</div>
                <p class="description">Description about the subject 3.</p>
                <a href="#" class="readmore">Action &gt;&gt;</a>
            </div>
        </div>
        <!-- Coluna -->
        <div class="column">
            <!-- Cartão -->
            <div class="card">
                <p class="title">Title 4</p>
                <div class="fakeimage" style="font-size: small;">Image</div>
                <p class="description">Description about the subject 4.</p>
                <a href="#" class="readmore">Action &gt;&gt;</a>
            </div>
        </div>
    </div>
    <!-- Line 3 - Banner -->
    <div class="row">
        <div>
            <img src="../images/banners/banner1.svg" style="padding: 18px; width: 100%;" />
        </div>
    </div>
    <!-- Line 4 - Products -->
    <div class="row">
        <h2>Special offers</h2>
        <!-- Coluna -->
        <div class="column">
            <!-- Cartão -->
            <div class="card">
                <p class="title">Title 1</p>
                <div class="fakeimage" style="font-size: small;">Image</div>
                <p class="description">Description about the subject 1.</p>
                <a href="#" class="readmore">Action &gt;&gt;</a>
            </div>
        </div>
        <!-- Coluna -->
        <div class="column">
            <!-- Cartão -->
            <div class="card">
                <p class="title">Title 2</p>
                <div class="fakeimage" style="font-size: small;">Image</div>
                <p class="description">Description about the subject 2.</p>
                <a href="#" class="readmore">Action &gt;&gt;</a>
            </div>
        </div>
        <!-- Coluna -->
        <div class="column">
            <!-- Cartão -->
            <div class="card">
                <p class="title">Title 3</p>
                <div class="fakeimage" style="font-size: small;">Image</div>
                <p class="description">Description about the subject 3.</p>
                <a href="#" class="readmore">Action &gt;&gt;</a>
            </div>
        </div>
        <!-- Coluna -->
        <div class="column">
            <!-- Cartão -->
            <div class="card">
                <p class="title">Title 4</p>
                <div class="fakeimage" style="font-size: small;">Image</div>
                <p class="description">Description about the subject 4.</p>
                <a href="#" class="readmore">Action &gt;&gt;</a>
            </div>
        </div>
    </div>
    <!-- Line 5 - Banner -->
    <div class="row">
        <div>
            <img src="../images/banners/banner2.svg" style="padding: 18px; width: 100%;" />
        </div>
    </div>    
    <!-- Line 6 - Newsletter -->
    <div class="row">
        <div class="newsletter">
            <h3>Newsletter</h3>
            <form action="">
                <label for="nameNewsletter">Name:</label>
                <input type="text" name="nameNewsletter" id="nameNewsletter">
                <label for="emailNewsletter">Email:</label>
                <input type="text" name="emailNewsletter" id="emailNewsletter">
                <input type="submit" value="Register">
            </form>
        </div>
    </div>
</div>