<!-- Footer -->
<footer class="footer" id="contact">
    <div class="footer-div">

        <div class="footer-div-1">
            <div>
                <span><b>JWC</b></span>
                <p>Avenue, Edifice - City, Country, 98765-4321</p>
            </div>
        </div>

        <div class="footer-div-2">
            <div>
                <span><b>Contact</b></span>
                <p><a href="mailto:xxxx@xxxxx.com">xxxx@xxxxx.com</a></p>
                <p>+xx xxxxx-xxxxx</p>
            </div>
        </div>

        <div class="footer-div-3">
            <div>
                <span><b>Links</b></span>
                <p><a href="./about.php">Faq</a></p>
                <p><a href="#">My Account</a></p>
                <p><a href="./blog.php">Blog</a></p>
                <p><a href="./shop.php">Shop</a></p>
                <p><a href="./services.php">Services</a></p>
                <p><a href="./admin/admin.php">Administrator</a></p>
            </div>
        </div>

        <div class="footer-div-4">
            <div>
                <span><b>Others</b></span>
                <p><a href="#">Políticas de Privacidade.</a></p>
                <hr>
                <div>
                    <select>
                        <option value="English" selected>English</option>
                        <option value="English">Portuguese</option>
                        <option value="Spanish">Spanish</option>
                    </select>
                </div>
                <div>
                    <select>
                        <option value="US Dollars" selected>US Dolar</option>
                        <option value="US Dollars">Real</option>
                        <option value="Euro">Euro</option>
                    </select>
                </div>
            </div>
        </div>

    </div>
    <p class="footer-copyright">Copyright © 2024 – All rights reserved.</p>
</footer>