<!-- Header -->
<div class="header">
    <!-- banner -->
</div>
<!-- Nav Bar -->
<div class="navbar">
    <a href="./home.php">HOME</a>
    <a href="./shop.php">SHOP</a>
    <a href="./services.php">SERVICES</a>
    <a href="./blog.php">BLOG</a>
    <a href="./contact.php">CONTACT</a>
    <a href="./about.php">ABOUT</a>
    <div class="right">
        <div class="dropdown">
            <button class="dropbtn">
                <img src="../images/icons/svg/user.svg" alt="ACCOUNT" title="My Account."></button>
            <div id="account-menu" class="dropdown-content">
                <a href="./admin/login.html">Log In</a>
                <a href="./admin/register.html">Sign Up</a>
                <a href="#">Help</a>
            </div>
        </div>
    </div>
</div>