@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
.login_body * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.login_body {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4040f74d;
}

.container {
    width: 120%;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
}

hr {
    border: 1px solid #6c63ff;
    margin-bottom: 2rem;
}

label {
    font-size: 0.9rem;
    font-weight: 600;
    color: #000000c0;
    display: block;
    margin-bottom: 0.5rem;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1.5rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.9rem;
}

input[type="text"]:hover,
input[type="password"]:hover {
    background-color: #eeeeee75;
}

input[type="text"]:focus-visible,
input[type="password"]:focus-visible {
    outline: 1px solid #6c63ff;
}

.clearfix {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clearfix label {
    display: flex;
    align-items: center;
}

.clearfix input[type="checkbox"] {
    margin-right: 0.5rem;
}

.confirmbtn,
.cancelbtn {
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 500;
}

.confirmbtn {
    background-color: #6c63ff;
    color: #fff;
}

.confirmbtn:hover {
    background-color: #6b63fff1;
}

.cancelbtn {
    background-color: #f44336;
    color: #fff;
}

.cancelbtn:hover {
    background-color: #f44336d9;
}

.div_psw {
    padding: 8px;
    background-color:#f1f1f1;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
}


.psw {
    float: right;
}

.psw a {
    color: #6c63ff;
    text-decoration: none;
}

.psw a:hover {
    text-decoration: underline;
}

.cancelbtn a {
    text-decoration: none;
    color: #fff;
}