<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>

<body>

    <h1>Administração de Dados</h1>
    <hr>
    
    <div>
        <form action="" method="">
            <label for="search-table">Pesquisar por:</label>
            <select name="search-table" id="search-table">
                <option value="tab1">Tabela 1</option>
            </select>
            <br>
            <label for="search">Pesquisar por:</label>
            <select name="search" id="search">
                <option value="words">Palavra</option>
            </select>
            <br>
        </form>
    </div>

    <!-- Aqui desenvolver o resultado da pesquisa. -->

</body>

</html>